

    .Footer {
    background-color: grey;
    border-top:2px solid rgb(0, 0, 0);
    width: 100%;
    color: white;
    margin-top: 10vh;
    font-size: 25px;
    font-size: 1rem;
    opacity: 0.5;
    }
    .pFooter{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footersection{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }
    .lifooter:hover{
       font-weight: bold;
       color: black;   
    }
   

    