
.loginpageContainer{
    background: url("https://thumbs.gfycat.com/CreativeIncredibleAmericanredsquirrel-size_restricted.gif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogOutBtn{
 position: relative;
 bottom: 40vh;
 left: 30vw;
 color: black;
}
.title{
font-family: 'Playfair Display', serif;
font-weight: bolder;
bottom: 100vh;
}
