
.loginpageContainer{
    background: url("https://thumbs.gfycat.com/CreativeIncredibleAmericanredsquirrel-size_restricted.gif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}