.title{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;

}
.aboutpara{
   width:30%;
   font-family: 'Bebas Neue', cursive;
   
}
.LogOutBtn{
    position: relative;
    bottom: 55vh;
    left: 70vw;
    color: black;
    cursor: pointer;
}
.aboutContainer{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}